@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
.gamepage *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-family: 'Radio Canada', sans-serif;
}
.gamepage .animate{
    color: white;
}
.gamepage body{
    background-color:rgb(13, 4, 35);
}
    /* video */
    .gamepage .back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}
@media (min-aspect-ratio:16/9){
    .back-video{
        width: auto;
        height: 100%;

    }
@media (min-aspect-ratio:16/9){
    .back-video{
        width: 100%;
        height: auto;

    }
}
}
    /* end of video */
/* side bar */
.gamepage #mainbox{
    font-size: 24px;
    cursor: pointer;
    transition: all .6s ;
    color: white;
}
.gamepage .sidebar{
    margin: 20px 40px;
    
}
.gamepage .sidemenu{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 0px;
    background-color: rgb(18, 4, 69);
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all 0.5s;
    
}   
.gamepage .sidemenu a{
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    display: block;   
}
.gamepage .sidemenu a:hover{
    color: white;
}
.gamepage .sidemenu .closebtn{
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 32px;
}
/* end of sidebar */
    /* animation */
    .gamepage .animate{
    height: 100vh;
    max-width: 1080px;

    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.gamepage .animate .co-left{
    flex: 1;
    margin-bottom: 1rem;
}
.gamepage h1{
    color: transparent;
    font-size: 80px;
    position:relative;
    display: block;
    width: fit-content;
    animation: text_reveal .5s ease forwards;
    animation-delay: 1s;
}
.gamepage h1 span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: rgb(22, 12, 78);
    animation: overlay 1s ease forwards;
    animation-delay: .5s; 
}
.gamepage h1:nth-child(1){
    animation-delay:1s;
}
.gamepage h1:nth-child(2){
    animation-delay:2s;
}
.gamepage h1:nth-child(3){
    animation-delay:3s;
}
.gamepage h1:nth-child(1) span{
    animation-delay:.5s;
}
.gamepage h1:nth-child(2) span{
    animation-delay:1.5s;
}
.gamepage h1:nth-child(3) span{
    animation-delay:2.5s;
}



 @keyframes overlay{
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        left: 100%;
        width: 0;
    }
}
@keyframes text_reveal{
    100%{
        color: rgb(255, 255, 255);
    }
    /* end of animation */
}
    /* available now */
    .gamepage .button{
    background: rgb(14, 14, 74);
    display: inline-block;
    color: var(--text-color);
    padding: 20px;
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 500;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 10% 100%, 0 82%);

}
.gamepage .button:hover{
    background: rgb(51, 83, 210);
    transition: 0.3s all linear;
}
.gamepage .available{
    margin-top: 20px;
}
    /* available now */

    /* cards */
    .gamepage .cards{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #dcdcdd;
    background-color:rgb(13, 4, 35);

}
.gamepage  .container{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px , 1fr));
    grid-gap: 20px;
    padding: 20px;
    margin-top: 20px;
}
.gamepage .container .card{
    width: 100%;
    background: rgb(72, 64, 123);
    border-radius: 10px;
}
.gamepage .container .card .imgBx{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
    border-radius: 10px;

}
.gamepage .container .card .imgBx:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}
.gamepage .container .card .imgBx a{
    text-decoration: none;
}
.gamepage .overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    background-color:rgba(14, 15, 70, 0.6) ;
    display: flex ; 
    justify-content: center;
    align-items: center;
    visibility: hidden;
}
.gamepage .buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color: #252525;
    font-weight: 700;
    letter-spacing: 1px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
}
.gamepage .buy-btn:hover{
    color: #ffffff;
    background-color: #16085c;
    transition: all ease 0.3s;
}

.gamepage .container .card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease-in-out;
}
.gamepage .container .card:hover .imgBx img{
    transform: scale(1.5);
}
.gamepage .container .card .content{
    padding: 10px;
}
.gamepage .container .card .content .product-name h3{
    font-size: 18px;
    font-weight: 500;
    color:rgb(233, 234, 247);
    margin: 5px 0;
}
.gamepage .container .card .content .price-rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gamepage .container .card .content .price-rating h2{
    font-size: 20px;
    color: #ff2020;
    font-weight: 500;
}
.gamepage .container .card .content .fa{
    color:rgb(255, 255, 19) ;
    cursor: pointer;
}
.gamepage .container .card .content .fa.grey{
    color:rgb(219, 212, 212);            
}
@keyframes fade{
    
   0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* cards */
.gamepage #footer{
	position: relative;
	bottom: 0;
	width: 100%;
	height: 100px;
	font-weight: 100;
	background-color: black;
	color: white;
	font-size: 7px;
	text-align: center;
	font-family: sans-serif;
	padding-bottom: 10px;
}
.gamepage h5
{
    font-size: 20px;
}