*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 'poppins' sans-serif;
}
img{
    width: 100%;
    display: block;
}
.main-wrapper{
    min-height: 100vh;
    background-color: #08043c;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 16px;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(10, 46, 103);
    border-radius: 3px;
    column-gap: 10px;

}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
    color: white;
}
.img-container img{
    width: 200px;
    margin: 0 auto;
}
.product-div-right span{
    display: block;
}
.product-name{
    font-size: 26px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}
.product-price{
    font-weight: 700;
    font-size: 24px;
    opacity: 0.9;
    font-weight: 500;
}
.product-rating .fa{
    color:#ffd513 ;
    cursor: pointer;
}
.product-rating .grey{
    color:#ccc;            
}
.product-describtion{
    font-weight: 18px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}
.btn-groups{
    margin-top: 22px;
}
.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups .fa{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: #190857;
    border:  2px solid #0d0858;
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: rgb(20, 17, 98);
    color: #eeeef3;
}
@media screen and (max-width: 992px) {
    .product-div{
        grid-template-columns: 100%;
    }
    .product-div-right{
        text-align: center;
    }
    .product-rating{
        justify-content: center;
    }
    .product-describtion{
        max-width: 400;
        margin-right: auto;
        margin-left: auto;
    }
}
@media screen and (max-width: 992px) {
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}